<body>
	<div class="container">
		<div class="row-fluid">
		<div id="nav" class="span2">
			test  test test
			</div> <!--end #nav -->
			
			<div id= "content" class="span7">
				
				</div> <!--end content -->
				
				<div id="sidebar" class="span3"   >
					
					</div> <!-- end #sidebar-->
					</div>
					</div>
					</body>